@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import url(https://fonts.googleapis.com/css?family=Croissant+One:regular); */
@import url(https://fonts.googleapis.com/css2?family=Tapestry&display=swap);
* {
  box-sizing: border-box ;
}
body {
  max-width: 1250px;
  margin: 0 auto;
  background: #020010;
  /* font-family: "Croissant One", cursive; */
  font-family: "Tapestry", cursive;
}

html {
  scroll-behavior: smooth;
}
