@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url(https://fonts.googleapis.com/css2?family=Tapestry&display=swap);
* {
  box-sizing: border-box ;
}
body {
  max-width: 1250px;
  margin: 0 auto;
  background: #020010;
  font-family: "Tapestry", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}
